{% extends 'countries/base.html' %}

{% block content %}
<b>Get Countries A.P.I. Documentation</b>
<br>
<br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Description</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">A.P.I. Endpoint</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Expected Results</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#subscriptions" type="button" role="tab" aria-controls="subscriptions" aria-selected="false">Subscription</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <br>
        The A.P.I. method used by a user to access the country's A.P.I. data
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <br>
        <ul>
            <li>
                <ul>
                    <li><b>Endpoint:</b> http://127.0.0.1:8000/api/country/api_id/</li></li>
                    <li><b>api_id:</b> This is the continent id that you will pass in order to get its countries, you can get it from 
                        <a target="_blank" href="{% url 'continents-api' %}">Get Continents A.P.I. </a> 
                    </li>
                </ul>
            </li>
            <li><b>Request Type:</b> GET</li>
            <li><b>Headers</b>
                <ul>
                    <li><b>Authorization:</b> Token token_id</li>
                </ul>
            </li>
        </ul>
        <br>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <pre id="GFG_DOWN" style="color:green;">
            {
                "values": [
                    {
                        "id": 1,
                        "name": "Kenya",
                        "code": "KEN"
                    },
                    {
                        "id": 2,
                        "name": "Ethiopia",
                        "code": "ETH"
                    },
                    {
                        "id": 3,
                        "name": "Sudan",
                        "code": "SDN"
                    },
                    {
                        "id": 4,
                        "name": "Djibouti",
                        "code": "DJT"
                    },
                    {
                        "id": 5,
                        "name": "Tanzania",
                        "code": "TZ"
                    },
                    {
                        "id": 6,
                        "name": "Rwanda",
                        "code": "RWN"
                    }
                ]
            }
        </pre>
    </div>
    <div class="tab-pane fade" id="subscriptions" role="tabpanel" aria-labelledby="contact-tab">
        <br>
        {% if subscriptions > 0 %}        
            Click <a href="{% url 'unsubscribe' 1 %}">here</a> to unsubscribe from the A.P.I. You will not get data from this A.P.I.
        {% else %}
            You have not subscribed to the A.P.I. Click <a href="{% url 'subscribe' 1 %}">here</a> to subscribe to get data from this A.P.I.
        {%endif%}
    </div>
  </div>
{% endblock content%}