{% extends 'countries/base.html' %}

{% block content %}
<b>Get A.P.I. List Documentation</b>
<br>
<br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Description</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">A.P.I. Endpoint</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Expected Results</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <br>
        The A.P.I. method responsible for returning the list of APIs supported
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <br>
        <ul>
            <li><b>Endpoint:</b> http://127.0.0.1:8000/api/</li>
            <li><b>Request Type:</b> GET</li>
            <li><b>Headers</b>
                <ul>
                    <li><b>Authorization:</b> Token token_id</li>
                </ul>
            </li>
        </ul>
        <br>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <pre id="GFG_DOWN" style="color:green;">
            [
                {
                    "id": 1,
                    "name": "Countries",
                    "code": "CNT"
                },
                {
                    "id": 2,
                    "name": "Continents",
                    "code": "CON"
                },
                {
                    "id": 3,
                    "name": "Cities",
                    "code": "CIT"
                },
                {
                    "id": 4,
                    "name": "Test",
                    "code": "TST"
                }
            ]
        </pre>
    </div>
  </div>
{% endblock content%}