{% extends 'countries/base.html' %}

{% block content %}

<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-12 px-0">
        <h1 class="display-4 fst-italic">A.P.I. Management System</h1>
        <p class="lead my-3">The project looks into how you can build Restful A.P.I.s in Django. It can be a good start for a business that sells data or offer technology services that can be intergrate to mobile devices or other platforms. Through this, it will allow other developers to register and log in for them to have access to the A.P.I.s.</p>
      </div>
    </div>
  
    <div class="row">
        <div class="col-md-12">
            <article class="blog-post">
            <h3 class="pb-4 pt-4 mb-4 mt-4 fst-bold border-bottom border-top text-center">Initializing the system</h3>
            <ul>
                <li>Here we will put data into the system. Below are the steps on how to do so</li>
                <li>Enter a correct phone number</li>
                <li>Go to the Django admin page: http:127.0.0.1:8000/admin</li>
                <li>Log in using the super user credentials we created here</li>
                <li>Once you're logged in, on the left side of the page are the database table and the right side are any recent actions performed</li>
                <li><b>We will start by adding A.P.I.s to the A.P.I. table</b>
                    <ul>
                        <li>Click on the APIs link under countries to do so</li>
                        <li>Click on Add to add an A.P.I</li>
                        <li>The first API to add is countries, enter the name “Countries” and code “CNT”. This means that countries will have an A.P.I id of 1</li>
                        <li>Click on ‘Save and add another button”</li>
                        <li>The second API to add is continents, enter the name “Continents” and code “CON”. This means that continents will have an A.P.I id of 2</li>
                        <li>Click on ‘Save and add another button”</li>
                        <li>The third API to add is cities, enter the name “Cities” and code “CIT”. This means that cities will have an A.P.I id of 3</li>
                        <li>Click on “Save”</li>
                    </ul>                
                </li>
                <li>We will now enter the continents data, click on the <b>continents</b> link on the left side navigation bar and enter a continents name and code, save and another.</li>
                <li>We now enter the countries data, click on the <b>countries</b> link on the left side navigation bar and enter a countries name and code, save and another.</li>
                <li>We now enter the cities data, click on the <b>citiess</b> link on the left side navigation bar and enter a cities linked to a particular country, save and another.</li>
                <li>We will finally create a token for the super user, click on the tokens link on the left side navigation bar under the Auth Token label.</li>
                <li>Click on “Add Token” select the super user from the dropdown and save.</li>
            </ul>
                <br>
            </article>
    
        </div>
    
    </div><!-- /.row -->
    
    <div class="row">
        <div class="col-md-12">
            <article class="blog-post">
            <h3 class="pb-4 pt-4 mb-4 mt-4 fst-bold border-bottom border-top text-center">Testing the System</h3>
            <ul>
                <li>Log In/Register to the platform</li>
                <li>Click on "View Token" Menu to get your A.P.I. token</li>
                <li>Click on "A.P.I. Documentations" Menu to select an A.P.I. to test</li>
                <li>Go through the A.P.I. documentation first, before teseting them</li>
                <li>Download <a target="_blank" href="https://www.postman.com/downloads/">Postman</a></li>
                <li>Open Postman</li>
                <li>On the top right menu select File then select New to create a new HTTP request</li>
                <li>Test the A.P.I.s on the HTTP request window displayed</li>
            </ul>
            <br>
            </article>
    
        </div>
    
    </div><!-- /.row -->
  
</main>

{% endblock content%}