{% extends 'countries/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <p class="text-secondary"><b>A.P.I. Token: </b>{{  token }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
        </fieldset>
        <br>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
    </div>
{% endblock content%}